.cabecalho {
  background-color: var(--cor-branca);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.cabecalho__icones {
  padding: 1rem .5em;
}

.container__botao,
.submenu__lista,
.container__logo,
.menu__lista--desktop,
.cabecalho__item--desktop {
  display: none;
}

/* Condicional que exibira o menu hamburguer 
pegando pela id="menu".
*/

.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background: url("../img/icones/icon-menu-hamburguer.svg") no-repeat center;
  display: inline-block;
  padding: 1em 2em;
}

.container__botao:checked~.menu-hamburguer>.cabecalho__menu-hamburguer {
  background-image: url("../img/icones/icon-menu-hamburguer-branco.svg");
  margin-top: .5em;
}

.container__botao:checked~.menu-hamburguer {
  background: var(--cor-azul-gradiente) no-repeat center;
  height: 100%;
}

#menu:checked~.submenu__lista {
  display: block;
  position: absolute;
  top: 100%;

  background-color: var(--cor-branca);
  width: 70vw;
}

.lista__titulo {
  padding: 1.5rem;
  font-weight: 700;
  color: var(--cor-laranja);
}

.lista__item {
  padding: 1.5rem;
}

.lista__item-link {
  text-decoration: none;
  color: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .cabecalho__menu-hamburguer,
  .submenu__lista--desktop,
  .icone--favoritos,
  .lista__titulo,
  #menu:checked~.submenu__lista {
    display: none;
  }
  
  .cabecalho {
    justify-content: space-evenly;
  }

  .container__logo {
    display: block;
    font-family: var(--fonte-logo);
    font-weight: 400;
    font-size: 30px;
  }

  .logo__negrito {
    font-weight: 700;
  }

  .menu__lista--desktop {
    display: flex;
  }

  .lista__item--desktop {
    padding: 3rem 1em;
  }

  .lista__item--desktop,
  .lista__item {
    text-decoration: none;
    color: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 400;
    text-transform: uppercase;
  }

  .lista__item--desktop:hover,
  .lista__item:hover {
    background: var(--cor-azul-gradiente);
    color: var(--cor-branca);
  }
 
  #menu--desktop:checked~.menu__rotulo > .lista__item--desktop {
    background: var(--cor-azul-gradiente);
    color: var(--cor-branca);
  }

  #menu--desktop:checked~.submenu__lista--desktop {
    display: block;
    position: absolute;
    top: 100%;

    background-color: var(--cor-branca);
    width: auto;
  }
}

@media screen and (min-width: 1728px) {
  .cabecalho {
    justify-content: space-around;
  }

  .cabecalho__item--desktop {
    display: block;
    margin: 0;

    color: var(--cor-preta);
    font-weight: 400;
  }

  .cabecalho__icones {
    padding: 0;
  }

}