.cabecalho {
  background-color: var(--cor-branca);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.cabecalho__icones {
  padding: 1rem;
}

.container__botao,
.menu__lista,
.container__logo,
.menu__lista--desktop {
  display: none;
}

/* Condicional que exibira o menu hamburguer 
pegando pela id="menu".
*/
#menu:checked~.menu__lista {
  display: block;
  position: absolute;
  top: 100%;

  background-color: var(--cor-branca);
  width: 70vw;
}

.lista__titulo {
  padding: 1.5rem;
  font-weight: 700;
  color: var(--cor-laranja);
}

.lista__item {
  padding: 1.5rem;
}

.lista__item-link {
  text-decoration: none;
  color: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    justify-content: space-evenly;
  }

  .container__logo {
    display: block;
    font-family: var(--fonte-logo);
    font-weight: 400;
    font-size: 30px;
  }

  .logo__negrito {
    font-weight: 700;
  }

  .menu__lista--desktop {
    display: flex;
  }

  .lista__item-link {
    color: var(--cor-preta);
    font-weight: 400;
  }


  .cabecalho__menu-hamburguer,
  .icone--favoritos {
    display: none;
  }

  #menu:checked~.menu__lista {
    background-color: var(--cor-branca);
    width: auto;
  }

  .lista__titulo {
    display: none;
  }

  .menu__lista {
    margin-left: 28vw;
  }
}