.contato {
    background-color: var(--cor-branca);
    padding: 1em;
}

.contato__titulo { 
    font-size: 18px;
    font-weight: 500;
    background: var(--cor-azul-gradiente);
    background-clip: text;
    margin: 1em;
}

.contato__texto {
    font-size: 16px;
    font-weight: 300;
    background: var(--cor-azul-gradiente);
    background-clip: text;
    margin: 1em;
}

.contato__email {
    border-color: var(--cor-azul);
    margin: 1em;
    width: 90%;
}

.contato__email::placeholder {
    background: url("../img/icones/icon-email.svg") no-repeat;
    background-position: 2em;
    color: var(--cor-azul);
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        align-items: center;
        padding: 2em 5em 3em 5em;
    }

    .contato__textos,
    .contato__email  {
        width: 50%;
    }

    .contato__email {
        height: 10%;
    }

    .contato__titulo {
        font-size: 24px;
        margin: 1em 0;
    }
    
    .contato__texto {
        font-size: 16px;
        margin: 1em 0;
    }

}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 2em 25em 3em 25em;
    }
}