.recentes {
    background: var(--cor-azul-gradiente);
    color: var(--cor-branca);

    padding: 1em .5em 1em .5em;
}

.recentes__titulo {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: .5em 0;
}

.recentes__topicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 1em .5em 1em;
}

.topicos {
    background-color: var(--cor-laranja);
    padding: 1em;
    margin: .5em;
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .recentes__titulo {
        font-size: 24px;
    }

    .topicos {
        font-size: 24px;
        padding: 2em;
        margin-top: 1em;
    }
}

@media screen and (min-width: 1728px) {
    .recentes {
        padding: 1em 20em 1em 20em;
    }
}