.rodape {
    padding: 1em;
    background-color: var(--cor-branca-2);
    border-top: 2px solid var(--cor-cinza);
}

.rodape__detalhado {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 3em 2em 1em 2em;
    }

    .rodape__titulo {
        text-align: center;
        font-size: 24px;
        width: 30%;
    }

    .rodape__detalhado {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .detalhado__educacao,
    .detalhado__educacao-online,
    .detalhado__comunidade {
        border-left: 1px solid var(--cor-cinza);
        padding-left: 1em;

        margin-right: 5em;
    }

    .detalhado__titulo {
        color: var(--cor-cinza);
    }

    .detalhado__lista {
        display: flex;
        flex-direction: column;
    }

    .itens__lista {
        display: flex;
        align-items: center;
    }

    a {
        margin: 1em;
        text-decoration: none;
        color: var(--cor-cinza-escuro);
    }
}